<div class="testinfo">
    <h4>
        <strong>Welcome to the Reasoning test! </strong>
    </h4>
    <p>This test is specifically designed to assess your reasoning. Reasoning tests help us understand your inherent
        abilities, which can play a crucial role in determining the best fit for your learning journey.</p>
    <div>
        <p>
            <strong>Test Purpose</strong> - The primary purpose of this reasoning test is to evaluate your natural
            reasoning. This information is vital in guiding you towards the course that aligns with your strengths and
            potential areas for growth.<span style="color: darkviolet">In This Assessment if you are scoring less than 40%,it is not advisable to join
            our lara environment.At last,final Decision purely depends on user.</span>
        </p>

        <p>
            <strong>Test Terms and Conditions</strong> - Please read and accept the terms and conditions before
            proceeding. Your participation in this reasoning test signifies your commitment to adhere to the guidelines
            set forth to ensure a fair and meaningful assessment.
            <!-- <label>
                <input type="checkbox"> I accept the terms
            </label> -->
        </p>

        <p>
            <strong>Test Guidelines</strong> - Before you begin the reasoning test, make sure to review these important
            details:
        <ul>
            <li>This test is purely reasoning-based and aims to evaluate your natural abilities.</li>
            <li>Total Questions:30 </li>
            <li>Test Duration: 30 minutes</li>
            <li>Minimum Eligibility: To be eligible for the course, you need to score at least 40% in this test.</li>
        </ul>
        Following these guidelines will help you approach the reasoning test confidently and provide valuable insights
        into your abilities.


        <p>
            <strong>Once you have read and understood the information</strong>, you can proceed to take the reasoning
            test. This test will assist us in recommending the course that aligns best with your reasoning and learning
            objectives.
        </p>
        <input type="button" style="color: green; border-radius: 3px; color: white;" class="btn btn-primary"
            value="Start Test" (click)="start()"><span
            [ngStyle]="{'color': isLoggedIn ? 'green' : 'red'}">{{message}}</span>
    </div>
</div>