
<div>
  <h2>Change Password</h2>
  <hr>
  <div class="row">
    <div class="col-sm-12" *ngIf="!pwdChanged">     
              <div class="updatepwd-div">
                <form [formGroup]="updatePwdForm" (ngSubmit)="updatePassword()">
                  <p class="hint-text">Please Enter Your New Password.</p>
                  <div class="form-group">
                    <div *ngIf="exError" class="formErr">{{exErrorMsg}}</div>
                    <div *ngIf="isupdatePwdFormSubmitted && updatePwdFormControls.currentPassword.errors">
                      <div *ngIf="updatePwdFormControls.currentPassword.errors.required" class="formErr">Current password is required.</div>                      
                    </div>
                    <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword" />
                  </div>
      
                  <div class="form-group">
                      <div *ngIf="isupdatePwdFormSubmitted && updatePwdFormControls.newPassword.errors">
                        <div *ngIf="updatePwdFormControls.newPassword.errors.required" class="formErr">Please enter new password.</div>
                        <div *ngIf="updatePwdFormControls.newPassword.errors.minlength" class="formErr">New password should be minimum six characters</div>
                      </div>
                      <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" />
                    </div>

                    <div class="form-group">
                      <div *ngIf="isupdatePwdFormSubmitted && updatePwdFormControls.cPassword.errors">
                        <div *ngIf="updatePwdFormControls.cPassword.errors.required" class="formErr">Please enter confirm password.</div>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm Password" formControlName="cPassword" />
                    </div>
                  <input type="submit" class="btn btn-primary btn-block" value="Update Password">
                </form>
              </div>
    </div>
    </div>

    <div class="col-sm-12" *ngIf="pwdChanged">      
      <div class="div2" style="margin-left:0px;">      
        <p style="text-align: center;">Your password has been changed succesfully&nbsp;&nbsp;<img src="../../../../assets/images/ordercomp.png" style="height:20px;width:20px;"></p> 
      </div>
    </div>   
</div>

 