table {
    width: 100%;
    table-layout: auto;
}

.desc {
    text-overflow: ellipsis;
}

.one h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    position: relative;
    --border-color: black;
}

.one h2::before {
    width: 10%;
    height: 5px;
    /* display: block; */
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100%;
    background-color: var(--border-color);
}

.one h2::after {
    width: 50%;
    height: 1px;
    content: "";
    position: absolute;
    /* margin-top: 25px; */
    /* margin-left: -50px; */
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--border-color);
    top: 100%;
}

table th {
    text-wrap: nowrap;
}

table td {
    text-overflow: ellipsis;
}