<!--Navigation-->
<div class="loader-bg" *ngIf="loaderService.showLoader">
  <div class="ploader-container"><span class="ploader"></span></div>
</div>

<div class="container-fluid cntfld-fw">
  <div class="container sm-pd-l0 sm-pd-r0">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 div-center nav-div sticky">

        <nav class="navbar navbar-expand-lg navbar-light sm-pd-l0 sm-pd-r0"> <a class="navbar-brand" href="#"><img
              src="./assets/images/laralogo.png" class="logo-img"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
            aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation"> <span
              class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse mob-nav-pad" id="navbarsExample09">

            <!-- <form class="navbar-form form-inline">
              <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="Enter Course or any keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Course or any keyword'" >
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span> </div>
            </form> -->
            
              
            
            <ul class="nav navbar-nav nav-align">
              <!--
              <li style="vertical-align:middle;" class="nav-item"> <a class="nav-link" href="javascript:void(0)">9972006654</a></li>
              -->
              <li class="nav-item"> Note: Remove Browser History&nbsp;|&nbsp;</li>
                          
              <li style="vertical-align:middle;" class="nav-item">support@lara.co.in&nbsp;|&nbsp;</li>
              <li class="nav-item"> 
                <a data-toggle="modal" data-target="#todaysClassesModal" class="nav-link dropdown-toggle" href="#">
                  Today's classes |</a>
              </li>  
              <!-- <li style="vertical-align:middle;" class="nav-item">99720 06654&nbsp;&nbsp;|&nbsp;&nbsp;</li> -->
          <li class="nav-item"> <a data-toggle="modal" data-target="#newBatchModal" 
          class="nav-link dropdown-toggle" href="#">
                New Batches |</a> 
                <!-- <ul class="dropdown-menu newbatch-wrapper">
                  <li>
                    <div style="padding:20px;color:#2E2E2E;background:#eee">                      
                      <table>
                        <tr>
                          <td class="newbatch-ltd">Start Date</td>
                          <td class="newbatch-ctd">:</td>
                          <td class="newbatch-rtd">Jan 20th 2020, 11:00 AM to 8.00 PM</td>
                        </tr>
                        <tr>
                          <td class="newbatch-ltd">Skills</td>
                          <td class="newbatch-ctd">:</td>
                          <td class="newbatch-rtd">JAVA Full Stack Project Development</td>
                        </tr>
                        <tr>
                          <td class="newbatch-ltd">Duration</td>
                          <td class="newbatch-ctd">:</td>
                          <td class="newbatch-rtd">1 month</td>
                        </tr>
                        <tr>                                                  
                          <td colspan="3"><a href="./assets/pdf/lara-j2eeandframeworks.pdf" target="_blank">Course Content</a></td>
                        </tr>
                      </table>
                    </div>
                    <div class="sp-ctx-div">
                        Please <span *ngIf="!isLoggedIn">signup, login and</span> click on view details to go through the demo sessions.
                    </div>
                  </li>
                </ul> -->
              </li>
              <!-- enqury form start-->
              <li *ngIf="!isLoggedIn;" class="nav-item"> 
                <a (click)="getFormBox()" href="#" data-toggle="dropdown"
                class="nav-link dropdown-toggle">Enquiry Form|</a>
              <ul class="dropdown-menu form-wrapper signup" id="signUpDiv">
                <li>
                  <div>
                    <form [formGroup]="enquryForm" (ngSubmit)="enqury()">
                      <p class="hint-text">Please Fill this form for more info</p>
                      <div *ngIf="exError" class="formErr">{{exErrorMsg}}</div>
                      <div class="form-group">
                        <div *ngIf="enqurySubmitted && enquryFormControls.firstName.errors">
                          <div *ngIf="enquryFormControls.firstName.errors.required" class="formErr">FirstName is
                            required</div>
                          <div *ngIf="enquryFormControls.firstName.errors.minlength" class="formErr">Firstname should
                            be minimum three characters</div>
                        </div>
                        <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName"
                          minlength="3" />
                      </div>
                      <div class="form-group">
                        <div *ngIf="enqurySubmitted && enquryFormControls.email.errors">
                          <div *ngIf="enquryFormControls.email.errors.required" class="formErr">Email is required
                          </div>
                          <div *ngIf="enquryFormControls.email.errors.email" class="formErr">Please enter a valid
                            email address</div>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" />
                      </div>
                      <div class="form-group">
                        <div *ngIf="enqurySubmitted && enquryFormControls.mobileNo.errors">
                          <div *ngIf="enquryFormControls.mobileNo.errors.required" class="formErr">Mobile number is
                            required</div>
                          <div *ngIf="enquryFormControls.mobileNo.errors.minlength" class="formErr">Mobile number
                            should be of 10 digits</div>
                          <div *ngIf="enquryFormControls.mobileNo.errors.maxlength" class="formErr">Mobile number
                            should be of 10 digits</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobileNo" />
                      </div>

                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Looking for Java or Python" formControlName="courseType" />
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Job Seeker or Working professional" formControlName="learnerType" />
                      </div>


                       <div class="form-group">
                        <textarea class="form-control" placeholder="Any Specific Query?"
                          formControlName="specificMessage"></textarea>
                      </div>
                      <input type="submit" class="btn btn-primary btn-block" value="Submit">
                    </form>
                  </div>
                  <!-- <div *ngIf="isEnquryFormValid" class="otpFormDiv">
                    Thank you for the details. You will be getting more information from us very soon.
                  </div> -->
                </li>
              </ul>
            </li>




              <!-- enquery form end -->






              <li class="nav-item"><a href="javascript:void(0)" [routerLink]="['/']">Home|</a> 
              </li>
              <!-- <li *ngIf="!isLoggedIn;" class="nav-item"> <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Tpo Login</a> -->
              <li *ngIf="isLoggedIn && (role=='ROLE_LEARNER' || role=='ROLE_ADMIN' || role=='PG_TESTER')" class="nav-item"><a
                  href="javascript:void(0)" [routerLink]="['/dashboard']"
                  [queryParams]="{ uid:uid}">Dashboard</a>&nbsp;|&nbsp;</li>
              <li *ngIf="isLoggedIn && role=='ROLE_TPO'" class="nav-item"><a href="javascript:void(0)"
                  [routerLink]="['/tdashboard']" [queryParams]="{ uid:uid}">Dashboard</a>|</li>
              <li *ngIf="isLoggedIn;" class="nav-item">Welcome {{info.username}}|</li>
              <li *ngIf="isLoggedIn;" class="nav-item"><a href="javascript:void(0)" (click)="logout()">Log Out</a></li>
              <!--<li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-shopping-cart"></span> Cart</a></li>-->

              <li *ngIf="!isLoggedIn;" class="nav-item"> 
                <!-- <a data-toggle="dropdown" class="nav-link dropdown-toggle"
                  href="#">Tpo Login</a> -->
                <ul class="dropdown-menu form-wrapper">
                  <li>
                    <div>
                      <div *ngIf="showLoginForm" class="loginFormDiv">
                        <form [formGroup]="tpoLoginForm" (ngSubmit)="tpoLogin()">
                          <p class="hint-text">Sign in with your account</p>
                          <!-- <div class="form-group social-btn clearfix i-log"> <a href="#" class="btn btn-primary pull-left"><i
                          class="fa fa-facebook"></i></a> <a href="#" class="btn btn-info pull-left"><i
                          class="fa fa-linkedin-in"></i></a> <a href="#" class="btn btn-danger pull-left"><i
                          class="fa fa-google-plus-g"></i></a> </div>
                    <div class="or-seperator"><b>or</b></div> -->
                          <div class="form-group">
                            <div *ngIf="exError" class="formErr">{{exErrorMsg}}</div>
                            <div *ngIf="isTpoLoginSubmitted && tpoLoginFormControls.email.errors">
                              <div *ngIf="tpoLoginFormControls.email.errors.required" class="formErr">Email is required
                              </div>
                            </div>
                            <input type="email" class="form-control" placeholder="email" formControlName="email" />
                          </div>
                          <div class="form-group">
                            <div *ngIf="isTpoLoginSubmitted && tpoLoginFormControls.password.errors">
                              <div *ngIf="tpoLoginFormControls.password.errors.required" class="formErr">Password is
                                required
                              </div>
                            </div>
                            <input type="password" class="form-control" placeholder="Password"
                              formControlName="password" />
                          </div>
                          <input type="submit" class="btn btn-primary btn-block" value="Login">
                          <div class="form-footer"> <a href="#" [routerLink]="['/forgotpwd']">Forgot Your password?</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <li *ngIf="!isLoggedIn;" class="nav-item"> <a (click)="getFormBox()" data-toggle="dropdown"
                  class="nav-link dropdown-toggle" href="#">Learner Login|</a>
                <ul class="dropdown-menu form-wrapper">
                  <li>
                    <div>
                      <div *ngIf="showLoginForm" class="loginFormDiv">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                          <p class="hint-text">Sign in with your account</p>
                          <!-- <div class="form-group social-btn clearfix i-log"> <a href="#" class="btn btn-primary pull-left"><i
                          class="fa fa-facebook"></i></a> <a href="#" class="btn btn-info pull-left"><i
                          class="fa fa-linkedin-in"></i></a> <a href="#" class="btn btn-danger pull-left"><i
                          class="fa fa-google-plus-g"></i></a> </div>
                    <div class="or-seperator"><b>or</b></div> -->
                          <div class="form-group">
                            <div *ngIf="exError" class="formErr">{{exErrorMsg}}</div>
                            <div *ngIf="isLoginSubmitted && loginFormControls.email.errors">
                              <div *ngIf="loginFormControls.email.errors.required" class="formErr">Email is required
                              </div>
                            </div>
                            <input type="email" class="form-control" placeholder="email" formControlName="email" />
                          </div>
                          <div class="form-group">
                            <div *ngIf="isLoginSubmitted && loginFormControls.password.errors">
                              <div *ngIf="loginFormControls.password.errors.required" class="formErr">Password is
                                required
                              </div>
                            </div>
                            <input type="password" class="form-control" placeholder="Password"
                              formControlName="password" />
                          </div>
                          <input type="submit" class="btn btn-primary btn-block" value="Login">
                          <div class="form-footer"> <a href="#" [routerLink]="['/forgotpwd']">Forgot Your password?</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>          
              
              <li *ngIf="!isLoggedIn;" class="nav-item"> 
                
                <a (click)="getFormBox()" href="#" data-toggle="dropdown"
                  class="nav-link dropdown-toggle">Learner Sign up</a>
                <ul class="dropdown-menu form-wrapper signup" id="signUpDiv">
                  <li>
                    <div *ngIf="!isSignUpFormValid">
                      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                        <p class="hint-text">Fill in this form to create your account!</p>
                        <div *ngIf="exError" class="formErr"> {{ exErrorMsg }} </div>
                        <div class="form-group">
                          <div *ngIf="isRegSubmitted && signUpFormControls.firstName.errors">
                            <div *ngIf="signUpFormControls.firstName.errors.required" class="formErr">FirstName is
                              required</div>
                            <div *ngIf="signUpFormControls.firstName.errors.minlength" class="formErr">Firstname should
                              be minimum three characters</div>
                          </div>
                          <input type="text" class="form-control" placeholder="FirstName" formControlName="firstName"
                            minlength="3" />
                        </div>
                        <div class="form-group">
                          <div *ngIf="isRegSubmitted && signUpFormControls.email.errors">
                            <div *ngIf="signUpFormControls.email.errors.required" class="formErr">Email is required
                            </div>
                            <div *ngIf="signUpFormControls.email.errors.email" class="formErr">Please enter a valid
                              email address</div>

                          </div>
                          <input type="email" class="form-control" placeholder="Email" formControlName="email" />
                        </div>
                        <div class="form-group">
                          <div *ngIf="isRegSubmitted && signUpFormControls.password.errors">
                            <div *ngIf="signUpFormControls.password.errors.required" class="formErr">
                              Password is required
                            </div>
                            <div *ngIf="signUpFormControls.password.errors.minlength" class="formErr">
                              Password should be of minimum 6 characters
                            </div>                            
                          </div>
                          <input type="password" class="form-control" placeholder="Password"
                            formControlName="password" />
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                      </form>
                    </div>
                   </li>
                </ul>
              </li>             
            </ul>
          </div>
          <hr>
          
        </nav>






        
        <!-- <div [@simpleFadeAnimation]="'in'" *ngIf="regSuccessAlert"
          class="alert alert-success fade in alert-dismissible show" role="alert">
          <button style="outline:none;" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:20px">×</span>
          </button>
          
        </div> -->

        <div [@simpleFadeAnimation]="'in'" *ngIf="regSuccessAlert"
          class="alert alert-success fade in alert-dismissible show" style="font-size:40px" role="alert">
          <button style="outline:none;" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:20px">×</span>
          </button>
          Congratulations! You have been registered successfully. <br/>
          We have sent an activation link to your email. <br/>
          <u>Please check your email box including SPAM folder and activate it </u> 
          to complete the signup process.. <br/>This activation is mandatory before login.
        </div>
        <div [@simpleFadeAnimation]="'in'" *ngIf="loginSuccessAlert"
          class="alert alert-success fade in alert-dismissible show" role="alert">
          <button style="outline:none;" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:20px">×</span>
          </button>
          You have been logged in successfully. You can goto Dashboard ==> My Courses
        </div>

        <div [@simpleFadeAnimation]="'in'" *ngIf="enqurySuccessAlert"
        class="alert alert-success fade in alert-dismissible show" role="alert">
        <button style="outline:none;" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true" style="font-size:20px">×</span>
        </button>
        Thank you {{ enquryForm.value.firstName }} for your information. We will provide more info very soon.
      </div>


      </div>
    </div>
  </div>
</div>


<!-- The Modal -->



<div class="modal fade" id="todaysClassesModal">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">
          In-class(off line) and online Live classes 
        </h4>
      </div>
      <div class="modal-body">
        
        <div *ngIf="liveClasses.length == 0">
          <div class="cpg-det">
              <h5> No classes announced. </h5>
          </div>
      </div>
      
      <div *ngIf="liveClasses.length != 0">
          <div class="cpg-det">
              <h5>Scheduled classes for all course packages </h5>
          </div>
          <table class="table">
              <thead>
                  <tr>
                      <th>SNO</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Topic</th>
                      <th>Live URL</th>
                      <th>Password</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let liveClass of liveClasses;index as i">
                      <td> {{ i + 1 }} </td>
                      <td> {{ getDate(liveClass.dateAndTime) }} </td>
                      <td> {{ getTime(liveClass.dateAndTime) }} </td>
                      <td> {{ liveClass.topic }} </td>
                      
                      <td> <a href='{{ liveClass.liveUrl }}' target='_blank'>Go to Live class</a> </td>
                      <td> 
                          <span *ngIf="liveClass.isPublic">
                              {{ liveClass.password }} 
                          </span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="newBatchModal" *ngIf="newBatchesList.length > 1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">New Batches for In-Class (Offline) and Online Live Classes</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <!--col starts from here-->
              <div class="col-sm-6" *ngFor="let newBatch of newBatchesList;let i=index;">
                  <div class="card bsw6">
                    <div [ngClass]="'card-header ' +newBatch.cssClass">
                        <div class="row">
                            <div class="col-sm-8 text-center s8">                              
                              <h3>
                                <i class="fa fa-book pd-r6" area-hidden="true"></i>{{newBatch.batchSkills}}</h3>                              
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-sm-4 text-left">
                          <i class="fa fa-calendar" aria-hidden="true"></i> Start Date: 
                        </div>
                        <div class="col-sm-8 text-left">
                          {{newBatch.batchStartDate}}
                        </div>
                      </div>  
                      <div class="row">
                        <div class="col-sm-4 text-left">
                          <i class="fa fa-clock-o" ></i>Timing: 
                        </div>
                        <div class="col-sm-8 text-left">
                          {{newBatch.batchTiming}}
                        </div>
                      </div> 
                    </div> 
                    
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <i aria-hidden="true" class="fa fa-calendar pd-r6"></i> Duration:
                            </div>
                            <div class="col-sm-4 text-left">
                              <h6>{{newBatch.batchDuration}}</h6>
                            </div>
                            <div class="col-sm-4">
                              <a href="./assets/pdf/{{newBatch.batchCourseContentLink}}" target="_blank">Course Content</a>
                            </div>
                          </div>                       
                    </div>                                    
                    </div>
                </div>               
            </div>
          </div>
        </div>
      </div>

      <!--div class="modal fade" id="todaysClasses" *ngIf="liveClasses.length != 0">
        <h1>Scheduled classes for Today</h1>
        <table border='1'>
          <tr>
                <td>SNO</td>
                <td>Date</td>
                <td>Time</td>
                <td>Topic</td>
                <td>Dependent Topics</td>
                <td>Live URL</td>
                 <td>Is It Public class?</td>
                <td>Note</td>
            </tr>      
          <tr *ngFor="let liveClass of liveClasses;index as i">
                <td> {{ i + 1 }} </td>
                <td> {{ getDate(liveClass.dateAndTime) }} </td>
                <td> {{ getTime(liveClass.dateAndTime) }} </td>
                <td> {{ liveClass.topic }} </td>
                <td> {{ liveClass.dependents }}</td>
                <td> 
                  <a *ngIf="liveClass.isPublic" href='{{ liveClass.liveUrl }}' target='_blank'>
                    Go to Live class
                  </a> 
                  <span *ngIf="!liveClass.isPublic">N.A</span>
                </td>
                <td> {{ liveClass.isPublic ? 'Yes' : 'No' }}</td>
                <td> {{ liveClass.note }}</td>
            </tr>
        </table>
      </div--->
  
  </div>
</div>


<div class="modal fade" id="newBatchModaltest22" *ngIf="newBatchesList.length == 1">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Batches Detail:</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <!--col starts from here-->
              <div class="col-sm-12" *ngFor="let newBatch of newBatchesList;let i=index;">
                  <div class="card bsw6">
                    <div [ngClass]="'card-header ' +newBatch.cssClass">
                        <div class="row">
                            <div class="col-sm-4 text-left s8">
                                <i class="fa fa-calendar" aria-hidden="true"></i> Start Date: 
                            </div>
                            <div class="col-sm-8 text-left s8">
                              {{newBatch.batchStartDate}}, {{newBatch.batchTiming}}
                            </div>
                          </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-sm-4 text-left">
                          <i class="fa fa-book pd-r6" area-hidden="true"></i>Skills: 
                        </div>
                        <div class="col-sm-8 text-left">
                          {{newBatch.batchSkills}}                          
                        </div>
                      </div>                    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <i aria-hidden="true" class="fa fa-clock-o pd-r6"></i> Duration:
                            </div>
                            <div class="col-sm-4 text-left">
                              <h6>{{newBatch.batchDuration}}</h6>
                            </div>
                            <div class="col-sm-4">
                              <a href="./assets/pdf/{{newBatch.batchCourseContentLink}}" target="_blank">Course Content</a>
                            </div>
                          </div>                       
                    </div>                                    
                    </div>
                    <br/>
                </div>
                <!--col ends from here-->

                <!--col starts from here-->
              <!-- <div class="col-sm-6">
                  <div class="card bsw6">
                    <div class="card-header nb-bl4">
                        <div class="row">
                            <div class="col-sm-4 text-left s8">
                                <i class="fa fa-calendar" aria-hidden="true"></i> Start Date: 
                            </div>
                            <div class="col-sm-8 text-left s8">
                              Jan 20th 2020, 11:00 AM to 8.00 PM
                            </div>
                          </div>
                    </div>
                    <div class="card-block">
                      <div class="row">
                        <div class="col-sm-4 text-left">
                          <i class="fa fa-book pd-r6" area-hidden="true"></i>Skills: 
                        </div>
                        <div class="col-sm-8 text-left">
                          JAVA Full Stack Project Development
                        </div>
                      </div>                    
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 text-left">
                                <i aria-hidden="true" class="fa fa-clock-o pd-r6"></i> Duration:
                            </div>
                            <div class="col-sm-8 text-left">
                              <h6>1 month</h6>
                            </div>
                          </div>                       
                    </div>                                    
                    </div>
                </div> -->
                <!--col ends from here-->
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
<!--Navigation end-->
<!-- Button to Open the Modal -->

 <!--- modal sart-->
 <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>
  

  <!--- modal end-->