<div class="container-fluid cntfld-fw">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pd-t30 pd-b30">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 div-center">
            <div class="tabs">
              <div class="container">
                <div class="row">
                  <div class="col col-lg-2 pd-l0 pd-r0">
                    <ul class="nav nav-pills nav-stacked flex-column w230">
                      <li class="active"><a href="#manageUploads" data-toggle="pill">Manage Uploads</a></li>
                      <li class=""><a href="#coursePackage" data-toggle="pill">Course Package</a></li>
                      <li class=""><a href="#manageSubscriptions" data-toggle="pill">Manage Subscriptions</a></li>
                      <li class=""><a href="#manageBulkSubscriptions" data-toggle="pill">Manage Bulk Subscriptions</a>
                      </li>
                      <li class=""><a href="#manageMails" data-toggle="pill">Mail</a></li>
                      <li class=""><a href="#manageTestimonials" data-toggle="pill">Manage Testimonials</a></li>
                      <li class=""><a href="#manageBatches" data-toggle="pill">Manage Upcoming Batches</a></li>
                      <li class=""><a href="#manageSchedule" data-toggle="pill">Manage Schedule</a></li>
                      <li class=""><a href="#managePlacement" data-toggle="pill">Manage Placement Data</a></li>
                      <li class=""><a href="#addQuestion" data-toggle="pill">Add Reasoning Questions</a></li>
                      <li class=""><a href="#manageQuestion" data-toggle="pill">Manage Reasoning Questions</a></li>
                      <li class=""><a href="#liveClass" data-toggle="pill">Create Live class</a></li>
                      <li class=""><a href="#learnerNotification" data-toggle="pill">
                          Create Learner Notification</a></li>
                      <li class=""><a href="#uploadEmailIdsForBulkMessages" data-toggle="pill">
                          Upload EmailIds For Bulk Messages </a></li>
                      <li class=""><a href="#coupon" data-toggle="pill">
                          Create a Coupon </a></li>

                    </ul>
                  </div>
                  <style>
                    .tab-pane {
                      margin-left: 0;
                    }
                  </style>
                  <div class="col col-lg-10 px-0 px-lg-5">
                    <div class="tab-content">
                      <div class="tab-pane active bgc-white" id="manageUploads">
                        <app-upload></app-upload>
                      </div>
                      <div class="tab-pane bgc-white" id="coursePackage">
                        <app-course-package></app-course-package>
                      </div>
                      <div class="tab-pane bgc-white" id="manageSubscriptions">
                        <app-subscription></app-subscription>
                      </div>
                      <div class="tab-pane bgc-white" id="manageBulkSubscriptions">
                        <app-bulk-subscription></app-bulk-subscription>
                      </div>


                      <div class="tab-pane bgc-white" id="manageMails">
                        <app-mailing></app-mailing>
                      </div>
                      <div class="tab-pane bgc-white" id="manageTestimonials">
                        <app-testimonial></app-testimonial>
                      </div>
                      <div class="tab-pane bgc-white" id="manageBatches">
                        <app-package></app-package>
                      </div>
                      <div class="tab-pane bgc-white" id="manageSchedule">
                        <app-addclass></app-addclass>
                      </div>
                      <div class="tab-pane bgc-white" id="managePlacement">
                        <app-placementdata></app-placementdata>
                      </div>
                      <div class="tab-pane bgc-white" id="addQuestion">
                        <app-addupload></app-addupload>
                      </div>
                      <div class="tab-pane bgc-white" id="manageQuestion">
                        <app-addcrud></app-addcrud>
                      </div>
                      <div class="tab-pane bgc-white" id="liveClass">
                        <app-live-class></app-live-class>
                      </div>

                      <div class="tab-pane bgc-white" id="learnerNotification">
                        <app-learner-notification></app-learner-notification>
                      </div>


                      <div class="tab-pane bgc-white" id="uploadEmailIdsForBulkMessages">
                        <app-upload-emailids-for-bulk-emails></app-upload-emailids-for-bulk-emails>
                      </div>
                      <div class="tab-pane bgc-white" id="coupon">
                        <app-coupon></app-coupon>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--back to top-->
<!-- <div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12"> <a id="back-to-top" href="#" class="btn btn-info back-to-top"
          role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i
            class="material-icons">expand_less</i></a> </div>
    </div>
  </div>
</div> -->
<!--back to top end-->