<div class="loader-bg" *ngIf="loaderService.showLoader">
  <div class="ploader-container"><span class="ploader"></span></div>
</div>
<div class="container-fluid cntfld-fw">
  <div class="container form-bnr-sec">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 pd-t40 pd-b50 form-bnr">
        <div class="row">
          <div class="col-lg-11 col-md-12 col-sm-12 div-center">
            <div>
              <h1>Reset your password</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!resetPwdAuthSuccessAlert" class="container-fluid cntfld-fw">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 div-center">
        <div class="chpwd-div">
          <form [formGroup]="pwdResetReqForm" (ngSubmit)="pwdResetReqSubmit()">
            <p class="hint-text">Please enter your email id</p>
            <div class="form-group">
              <div *ngIf="exError" class="formErr">{{exErrorMsg}}</div>
              <div *ngIf="pwdResetReqSubmitted && pwdResetReqFormControls.email.errors">
                <div *ngIf="pwdResetReqFormControls.email.errors.required" class="formErr">Email is required</div>
                <div *ngIf="pwdResetReqFormControls.email.errors.email" class="formErr">Please enter a valid email
                  address</div>
              </div>
              <input type="email" class="form-control" placeholder="email" formControlName="email" />
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="resetPwdAuthSuccessAlert" class="container-fluid">
  <div class="container"><br><br>
    <div>
      <div class="div2">
        <p style="text-align: center;">We have sent an email to reset your password.&nbsp;&nbsp;<img
            src="../../../../assets/images/ordercomp.png" style="height:20px;width:20px;"></p>
        <p style="text-align: center;">Please check your email.</p>
      </div>
    </div>
  </div>
</div>