<!-- <div class="container">
  <h2 id="h2">Companies where larites are working</h2>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner" data-interval="2000">
      <div class="carousel-item active" data-interval="2000">
        <div class="row gx-0 ps-lg-5">
          <div class="col-6 col-lg-2 text-center">
            <img src="../../assets/images/Recruiters/1.jpg" class="img-start" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/2.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/3.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/4.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/5.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/6.jpg" class="img-middle" alt="Company 20">
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="row gx-0 ps-lg-5">
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/7.jpg" class="img-start" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/8.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/9.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/10.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/11.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/12.jpg" class="img-middle" alt="Company 20">
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="row gx-0 ps-lg-5">
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/21.jpg" class="img-start" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/22.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/23.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/24.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/25.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/26.jpg" class="img-middle" alt="Company 20">
          </div>
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="row gx-0 ps-lg-5">
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/31.jpg" class="img-start" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/32.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/33.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/34.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/35.jpg" class="img-middle" alt="Company 20">
          </div>
          <div class="col-6 col-lg-2 text-center ">
            <img src="../../assets/images/Recruiters/36.jpg" class="img-middle" alt="Company 20">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="companyCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let group of chunk(slides, 5); let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
      <div class="row">
        <div class="col" *ngFor="let slide of group">
          <img [src]="slide.image" class="d-block w-100" [alt]="'slide ' + slide.id">
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#companyCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#companyCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->




