<!-- <div id="mainDiv">
  <div class="container d-flex justify-content-center mx-0 p-0 px-md-5 pb-2">
    <div class=" gradient-light-pink" style="width: 100%;">
      <div class="row mx-0" style="width: 100% !important;">
        <h2 class="tittle-wthree mt-2 mb-3 main-tag">About Lara Technologies</h2>
        <div class="main-tag-cnt" style="box-shadow: rgb(0, 0, 0,0.5) 2px 2px 10px, rgb(0, 0, 0,0.5) -2px -2px 10px;">
          <ul>
            <li class="rounded-3" style="background: linear-gradient(45deg, #2ec280, transparent);">
              <div class="main-tag-pts" style="font-size: xx-large;">
                Its not just an Institute...,,
                Its not just a placement agency.....
              </div>
            </li>
            <li class="rounded-3" style="background: linear-gradient(45deg, #2ec280, transparent);">
              <div class="main-tag-pts" style="font-size: xx-large;">
                Its more than a University...
                Its more than a Company...
              </div>
            </li>
            <div class="container">
              <div class="flex-container d-sm-flex" style="background: linear-gradient(-186deg, lightblue, white);
              border-radius: 7px;
              box-shadow: 2px 6px 12px #172024;
              color: white;">

                <div class="left-container" style="margin-left: 2%; font-family: Righteous;">
                  <div class="left-corner">
                    <span class="main-tag-pts" style="color: darkblue; font-size:xx-large;">
                      <i class="fa-solid fa-cubes"></i> 4 PILLORS TO EVERY LEARNER
                    </span>
                  </div>
                  <hr style="background-color: darkblue;
                  width: 90%;">
                  <ul>
                    <li>
                      <span style="color: darkblue; font-size: xx-large;">
                        <i class="fa-solid fa-gears"></i> Technical Skills
                      </span><br>
                      <span style="color: darkblue;  font-size: xx-large;">
                        <i class="fa fa-puzzle-piece"></i> Problem Solving Capabilities
                      </span><br>
                      <span style="color: darkblue; font-size: xx-large;">
                        <i class="fa-solid fa-user-tie"></i> Real Time Exposure
                      </span><br>
                      <span style="color: darkblue; font-size: xx-large;">
                        <i class="fa-solid fa-keyboard"></i> Project Development
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="right-container" style=" font-family: Righteous;">
                  <div class="">
                    <span class="main-tag-pts" style="color: darkblue; font-size: xx-large;">
                      <i class="fa-solid fa-globe"></i> LARA'S VISION AND MISION
                    </span>
                  </div>
                  <hr style="background-color: darkblue;
                  width: 90%;">
                  <div style="color: darkblue;">
                    <h5><img src="./assets/images/gifs/notebook.gif" class="me-2" width="40px" height="40px" alt=""
                        style="mix-blend-mode: color-burn;">Coaching Excellence, Building Futures.
                    </h5>
                    <h5><img src="./assets/images/gifs/target.gif" class="me-2" width="40px" height="40px" alt=""
                        style="mix-blend-mode: color-burn;">Focused Coaching, Lasting Achievements.</h5>
                    <h5><img src="./assets/images/gifs/idea.gif" class="me-2" width="40px" height="40px" alt=""
                        style="mix-blend-mode: color-burn;">Practical Knowledge, Real-world Impact.</h5>
                    <h5><img src="./assets/images/gifs/settings.gif" class="me-2" width="40px" height="40px" alt=""
                        style="mix-blend-mode: color-burn;">Striving for Excellence, Shaping Careers.</h5>
                  </div>
                </div>
              </div>
            </div>
            <li class="rounded-3" style="background: linear-gradient(45deg, #2ec280, transparent);">
              <div class="main-tag-pts" style="font-size: xx-large;">
                <i class="fa fa-whatsapp"></i> For any queries: Please message us on WhatsApp at 7975938871
              </div>
            </li>
            <div class="list mb-2">
              <h2 class="tittle-wthree mt-2 mb-3 main-tag" id="package">Our Packages</h2>
              <div id="head" class="rounded-3">
                <h1>JAVA FULLSTACK DEVELOPMENT COURSE</h1>
              </div>
              <div id="cont">
                <div id="cont-info" style="display: flex; justify-content: center; align-items: center;">
                  <div style="flex-basis: 50%; ">
                    <div>
                      <p style="font-size: 1.5rem;"><strong style="font-size: large;">Course Name:</strong> Java
                        Fullstack Development</p>
                      <p style="font-size: 1.5rem;"><strong style="font-size: large;">Duration:</strong> 3 months</p>
                    </div>
                  </div>
                  <div style="flex-basis: 50%;">
                    <div>
                      <p style="font-size: 1.5rem;"><strong style="font-size: large;">Course Hours:</strong> 300</p>
                      <p style="font-size: 1.5rem;"><strong style="font-size: large;">Prerequisites:</strong> No
                        Prerequisites</p>
                    </div>
                  </div>
                </div>

                <div id="desc" style="margin-top: 0;">
                  <h2 id="h2">Description:</h2>
                  <span>This comprehensive Java Fullstack Development course is designed to equip you with the skills
                    and knowledge needed to become a proficient fullstack developer using Java technologies.</span>
                </div>
                <div id="desc" style="margin-top: 1rem;">
                  <h2 id="h2">Course Content:</h2> <span>Skills you will learn:</span>
                  <h3 style="font-size: x-large; color:green; text-align: center;">Technical Skills</h3><br>
                  <span>
                    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
                      <div style="flex-basis: 100%; max-width: 30%; margin: 0;">
                        <ul style="list-style: disc; padding-left: 0;">
                          <li style="font-size: large; list-style: disc">Core Java</li>
                          <li style="font-size: large; list-style: disc">SQL</li>
                          <li style="font-size: large; list-style: disc">Data Structures and Algorithms</li>
                          <li style="font-size: large; list-style: disc">JavaScript</li>
                        </ul>
                      </div>
                      <div style="flex-basis: 100%; max-width: 30%; margin: 0;">
                        <ul style="list-style: disc; padding-left: 0;">
                          <li style="font-size: large; list-style: disc">Angular</li>
                          <li style="font-size: large; list-style: disc">Rest WebServices</li>
                          <li style="font-size: large; list-style: disc">Spring Core</li>
                          <li style="font-size: large; list-style: disc">Spring Boot</li>
                        </ul>
                      </div>
                      <div style="flex-basis: 100%; max-width: 30%; margin: 0;">
                        <ul style="list-style: disc; padding-left: 0;">
                          <li style="font-size: large; list-style: disc">Spring data JPA</li>
                          <li style="font-size: large; list-style: disc">Spring Security</li>
                          <li style="font-size: large; list-style: disc">Spring MicroServices</li>
                        </ul>
                      </div>
                    </div>
                    
                    
                    <hr style="flex-basis: 100%; border-top: 1px solid black; margin-top: 20px; margin-bottom: 20px;">
                    <div>
                      <div style=" text-align: center;">
                        <h3 style="font-weight: bold; color: green;">Project</h3>
                        <ul style="list-style-type: disc; ">
                          <li style="font-size: large;">IT'S A LIVE PROJECT BY USING SPRINGBOOT AND
                            ANGULAR SKILLS</li>
                        </ul>
                      </div>
                    </div>
                    <div style="text-align: center;">
                      <a href="assets\pdf\info\lara-javafullstack.pdf"
                        style="text-decoration: underline;font-size: large;">Detailed Course Content</a>
                    </div>
                  </span>
                </div>

                <hr style="background: black;">
                <div>
                  <h2 style="text-align: center;">Who Can Join The Course?</h2>
                  <br>
                  <div style="text-align: left;font-size: large;">
                    <p>Any Graduate Can Join The Course,There Is No Criteria Regarding Passout year,
                      Percentage or Field Of Graduation,
                      We Are Starting All The Technologies Right From The Scratch</p>
                  </div>
                </div>
                <hr style="background: black;">
                <div>
                  <h2 style="text-align: center;">What We Are Providing?</h2>
                  <br>
                  <div style="text-align: left;font-size: large;">
                    <p>At Lara Technologies We Are Providing Deep knowledge Of 20 Skills,
                      We Have Our Premises Which is 24 hours open for students to practice and gain knowledge,
                      Students Have to stay in Lara environment from morning 8:30 to evening 8:30
                    </p>
                  </div>
                </div>
                <hr style="background: black;">
                <div>
                  <h2 style="text-align: center;">What Is The Content Of Daily Classes?</h2>
                  <br>
                  <div style="text-align: left;font-size: large;">
                    <p style="font-size: large;text-align: left;">
                      8 Hours of Technical classes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="hero container">
  <div class="container">
      <div class="row">
          <div class="col-md-6 d-flex flex-column justify-content-center left-box">
              <h1 class="hero-title">Lara Technologies</h1>
              <p class="hero-tagline">Your Launchpad to Career Success</p>
              <!-- <p class="hero-subtagline">Java Full Stack Development</p> -->
              <a href="#get-started" routerLink="/demo-videos" class="btn btn-get-started btn-orange"><i class="fa fa-circle-play"></i> Watch Demo Videos of All Skills</a>
          </div>
          <div class="col-md-6 d-flex align-items-center right-box">
              <div class="bg-image"></div>
          </div>
      </div>
  </div>
</div>

<section class="why-us p-1 mt-1 container">
  <div class="container">
      <h2 class="text-center mb-1 display-5 join-lara">Join Lara Technologies to Achieve Your Dream Job!</h2>
      <p class="text-center mb-1 lead fw-200">At Lara Technologies, we are dedicated to helping you secure your dream job through our comprehensive and hands-on training programs. With collaborations with over 600 companies, we provide unparalleled opportunities for our students to connect with top employers and excel in their careers.</p>
      <h3 class="mb-3 text-center mt-2 underline pt-3">Why Choose Lara Technologies?</h3>
      <div class="row">
          <div class="col-md-6 mb-1 job-search mt-1"></div> 
          <div class="col-md-6 ">
              <ul class="list-unstyled points" style="padding-left: 20px; margin-top: 1.3rem;">
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Expert Training:</strong> Learn from Mr. Ramesh Reddy, our founder and experienced trainer, who has been shaping careers since 2005.</li>
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Proven Success:</strong> Join over 100,000 alumni who have benefited from our rigorous training and secured prestigious positions.</li>
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Extensive Network:</strong> Leverage our partnerships with <strong>600+ companies</strong> to get job placements and start your dream career.</li>
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Comprehensive Curriculum:</strong> Gain expertise in Java Fullstack, Data Structures, Algorithms, and Fullstack Project Development.</li>
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Specialized DSA Classes:</strong> Master Data Structures and Algorithms through specialized classes focusing on solving LeetCode and HackerRank problems. These classes are designed to help you crack interviews at top companies.</li>
                  <li class=""><i class="fas fa-check-circle text-success mr-2 "></i> <strong>Daily Coding Contests:</strong> Participate in daily challenges to sharpen your skills and receive real-time feedback.</li>
              </ul>
          </div>
      </div>
  </div>
</section>

<section class="px-1 py-1 container offering-section">
  <div class="row">
    <!-- Content on the left -->
    <div class="col-md-8 mt-2">
      <div class="mt-1">
        <h3 class="mb-3">Our Offerings:</h3>
        <ul class="list-unstyled" style="padding-left: 20px;">
          <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i> Flexible Learning: Available in both online and offline formats with up to 50% discounts.</li>
          <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i> Robust LMS: Access 600 hours of content, 15,000 MCQ questions, and unlimited exams and reviews.</li>
          <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i> Continuous Support: Benefit from weekly doubt clearing sessions, FB and WhatsApp groups, and ongoing job application support until you get placed.</li>
        </ul>
      </div>
      
    </div>
    <!-- Image on the right -->
    <div class="col-md-4 offering mt-4">
      <!-- <img src="./job-search.gif" alt="Image" class="img-fluid"> -->
    </div>
  </div>
  <div class="my-3 text-center special-card bgblue " >
    <h2 class="mb-3 text-center display-5 join-lara" style="color: orange;">Start Your Journey with Lara Technologies:</h2>
    <ul class="list-unstyled" style="padding-left: 20px;">
      <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i>Hands-On Training: Daily 7 to 10 hours of dedicated learning with 100+ programs per day over 3 months.</li>
      <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i>Skill Development: Master Core Java, SQL, Restful Web services, SpringBoot, Angular, and more.</li>
      <li class="mb-3"><i class="fas fa-check-circle text-success mr-2 lead"></i>Placement Success: Our intensive training ensures a minimum package of 8LPA, with students ready to crack any product-based MNC.</li>  
    </ul>
    <div class="text-center center-button">
      <button class="btn  btn-lg btn-orange" routerLink="/demo-videos"><i class="fa fa-circle-play"></i> Watch Demo Videos of All Skills</button>
    </div>
  </div>
</section>

<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2 class="mb-4 text-center fw-bold text-orange">Embark on Your Journey to Mastery: Java Fullstack Development</h2>
      <p class="lead mb-4 text-center px-md-5">Join us in our Java Fullstack Development course, designed meticulously to provide you with the essential skills and knowledge needed to thrive in the dynamic realm of Java technologies.</p>
      <div class="row">
        <!-- Right Column -->
        <div class="col-12">
            <!-- First Row: Duration, Course Hours, Prerequisites -->
            <div class="row mb-4">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h4>Duration: <span class="text-primary">3 months</span> | Course Hours: <span class="text-primary">300</span></h4>
                </div>
                <div class="col-md-6 text-center">
                    <h4>Prerequisites: <span class="text-primary">No Prerequisites</span></h4>
                </div>
            </div>
            <!-- Second Row: Skills -->
            <div class="row">
              <h5 class="col-12 mb-3">Skills you will learn:</h5>
              <div class="col-md-4 col-sm-6 col-12 mb-3">
                  <ul class="list-unstyled">
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Core Java</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> SQL</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Data Structures and Algorithms</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> JavaScript</li>
                  </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-12 mb-3">
                  <ul class="list-unstyled">
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Angular</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Rest WebServices</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Spring Core</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Spring Boot</li>
                  </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-12 mb-3">
                  <ul class="list-unstyled">
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Spring data JPA</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Spring Security</li>
                      <li><i class="fas fa-check-circle text-success mr-2"></i> Spring MicroServices</li>
                  </ul>
              </div>
          </div>
          
        </div>
    </div>
    


    <div class="row">
      <!-- <h5 class="col-12 mb-3">Skills you will learn:</h5> -->
      <div class="slider">
        <div class="slider-track">
          <img src="/c2c/assets/images/courses/corejava.png" alt="Core Java">
          <img src="/c2c/assets/images/courses/mysql.jpg" alt="SQL">
          <img src="/c2c/assets/images/ds.png" alt="Data Structures and Algorithms">
          <img src="/c2c/assets/images/javascript.jpg" alt="JavaScript">
          <img src="/c2c/assets/images/angular.jpg" alt="Angular">
          <img src="/c2c/assets/images/webservice.png" alt="Rest WebServices">
          <img src="/c2c/assets/images/springmcr.png" alt="Spring Core">
          <img src="/c2c/assets/images/springboot.png" alt="Spring Boot">
          <img src="/c2c/assets/images/springdatajpa.jpg" alt="Spring data JPA">
          <img src="/c2c/assets/images/courses/springsecurity.png" alt="Spring Security">
          <img src="/c2c/assets/images/courses/springmcr.png" alt="Spring MicroServices">
          <!-- Duplicate the images to make the slider continuous -->
          <img src="/c2c/assets/images/courses/corejava.png" alt="Core Java">
          <img src="/c2c/assets/images/courses/mysql.jpg" alt="SQL">
          <img src="/c2c/assets/images/ds.png" alt="Data Structures and Algorithms">
          <img src="/c2c/assets/images/javascript.jpg" alt="JavaScript">
          <img src="/c2c/assets/images/angular.jpg" alt="Angular">
          <img src="/c2c/assets/images/webservice.png" alt="Rest WebServices">
          <img src="/c2c/assets/images/springmcr.png" alt="Spring Core">
          <img src="/c2c/assets/images/springboot.png" alt="Spring Boot">
          <img src="/c2c/assets/images/springdatajpa.jpg" alt="Spring data JPA">
          <img src="/c2c/assets/images/courses/springsecurity.png" alt="Spring Security">
          <img src="/c2c/assets/images/courses/springmcr.png" alt="Spring MicroServices">
        </div>
      </div>
    </div>
  

    </div>
  </div>
</section>





<!-- <section class="p-5 container">
 
</section> -->

