<div class="" style="overflow: hidden;">
  <div class="">
    <div class="" style="background-color: #fff;" class="card" style="border: none;">
      <div class="card-body border-none">
        <div class="row gx-0 mx-0" style="overflow: hidden;">
          <div class="col-6 col-md-3 d-flex justify-content-center px-0">
            <div class="">
              <div class="">
                <span class="stats-no" id="count1">0</span>
                <div>We Are Since</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 d-flex justify-content-center px-0">
            <div class="">
              <div class="">
                <span class="stats-no">50,000+</span>
                <div>Students Trained</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 d-flex justify-content-center px-0">
            <div class="">
              <div class="">
                <span class="stats-no">170+</span>
                <div>Total Batches</div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 d-flex justify-content-center px-0">
            <div class="">
              <div class="">
                <span class="stats-no">560+</span>
                <div>Recruiters</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>