<!-- <div class="container mt-1 mb-1" style="background: linen; min-height: 314px;">
  <div id="userCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner" style="min-height: 314px;">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/vipin.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Vipin Raj Bishnoi</h5>
                <span>Software Developer At Hu-Tech Solutions</span>
                <p>I had a great time doing this course and everyone involved in the LARA TECHNOLOGY has made it a great
                  experience. I look forward to doing more courses with you guys in the future and have been
                  recommending you to everyone I know. Thank you for all the assistance and feedback, it has been
                  delightful and very gratifying.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/vinayak.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Vinayak Banavi</h5>
                <span>SoftWare Developer At Predictive Analytics Solutions</span>
                <p>I am immensely grateful for the support and assistance provided by Ramesh Sir and the entire team at
                  Lara Technologies. Their guidance has been instrumental in my journey towards a career in IT.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/amit.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Amit Kumar Srivastava</h5>
                <span>Software Developer At Cognis Solutions Pvt Ltd.</span>
                <p> If anyone is looking for a better place to become an IT professional, then I suggested to Lara
                  Technologies where you learn things slowly- slowly.Here clears all the point and start from the
                  scratch.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/akmal.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Akmal Hussain</h5>
                <span>Sostware Developer At GENXPLM-Technologies</span>
                <p> now I have enough confidence to face any interview as lara is a one stop solution for overall 360
                  degree development of one And along with that daily logical coding classes as well as practice are
                  going on The sessions.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/chandrahaspng.png" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Chandrahas G</h5>
                <span>Software Developer At Predictive Analytics</span>
                <p>Lara technologies is the good place to start your career as java full stack developer. I should thank
                  Ramesh sir for giving good guidance and encouragement. I got job within 4 months</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/chakradhar.png" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Chakradhar Kaluvai</h5>
                <span>SoftWare Developer At Reactiveworks IT Solutions</span>
                <p>With help of Ramesh sir (founder of Lara) i learnt from scratch and I got placed in ReactiveWorks IT
                  Solutions Pvt. Ltd with in 3.5months of course duration.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/satishjfif.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Satish Raj</h5>
                <span>Sostware Developer At Reactiveworks IT Solutions</span>
                <p>Everything here becomes very easy and simple for me throughout the training period just because of
                  Ramesh Sir because the teaching style of the sir and the subject knowledge he provided us is best in
                  every aspects</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/kishan.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Kishan Jha</h5>
                <span>Software Developer At Hu-Tech Solutions</span>
                <p> I developed more than 1000 programs in these six months. I learned Core Java, SQL, Logical Coding,
                  Spring Boot, Rest Webservices, Spring Data JPA(Hibernate), CSS,and all other skills in just Six
                  Months.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/umair.png" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Umair Shaikh</h5>
                <span>SoftWare Developer At Reactiveworks IT Solutions </span>
                <p>If someone looking or searching for best place to become an IT professional i highly recommended to
                  join Lara technology where you will learn things in very proper way.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/gowthan.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Gowtham Mani </h5>
                <span>Sostware Developer At Bonbloc</span>
                <p> I joined in the Lara 1st day itself I started learn java. Day by day my confidence is increasing
                  automatically by attending all classes daily at offline. we will spend almost 15 hrs daily in lara.
                </p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/sumanth.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Sumanth</h5>
                <span>Software Developer At Treosoft</span>
                <p>I joined lara technology to upgrade my skills. Lara technology is the best place to learn Java from
                  core to advance. Ramesh sir, his way of teaching was unmatchable, he will teach every concepts from
                  scratch..</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card p-3 text-center px-4">
              <div class="user-image">
                <img src="./assets/images/reviews/surya.jfif" class="rounded-circle" width="80">
              </div>
              <div class="user-content">
                <h5 class="mb-0" style="color: green;">Surya Mudimukku</h5>
                <span>SoftWare Developer At Modefin</span>
                <p>Lara Technologies is excellent institute to build your career in IT field. I don't have that much
                  knowledge on java before.Ramesh sir teaches every concept clearly and everyone should understand.</p>
              </div>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div> -->

<!-- <div class="container">

  <div class="accordion d-flex justify-content-center align-items-center height" id="accordionExample">




    <div class="row">

      <div class="col-md-6">

        <div class="p-3">



          <ul class="testimonial-list">
            <li>

              <div class="card p-3" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">

                <div class="d-flex flex-row align-items-center">

                  <img src="./assets/images/reviews/vipin.jfif" width="50" class="rounded-circle">

                  <div class="d-flex flex-column ml-2">

                    <span class="font-weight-normal">Vipin Raj Bishnoi</span>
                    <span>Software Developer At Hu-Tech Solutions</span>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="card p-3" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">

                <div class="d-flex flex-row align-items-center">

                  <img src="./assets/images/reviews/vinayak.jfif" width="50" class="rounded-circle">

                  <div class="d-flex flex-column ml-2">

                    <span class="font-weight-normal">Vinayak Banavi</span>
                    <span>SoftWare Developer At Predictive Analytics Solutions</span>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="card p-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">

                <div class="d-flex flex-row align-items-center">

                  <img src="./assets/images/reviews/amit.jfif" width="50" class="rounded-circle">

                  <div class="d-flex flex-column ml-2">

                    <span class="font-weight-normal">Amit Kumar Srivastava</span>
                    <span>Software Developer At Cognis Solutions Pvt Ltd.</span>

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="card p-3" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">

                <div class="d-flex flex-row align-items-center">

                  <img src="./assets/images/reviews/akmal.jfif" width="50" class="rounded-circle">

                  <div class="d-flex flex-column ml-2">

                    <span class="font-weight-normal">Akmal Hussain</span>
                    <span>Software Developer At GENXPLM-Technologies</span>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="card p-3" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                aria-controls="collapseFive">

                <div class="d-flex flex-row align-items-center">

                  <img src="./assets/images/reviews/chandrahaspng.png" width="50" class="rounded-circle">

                  <div class="d-flex flex-column ml-2">

                    <span class="font-weight-normal">Chandrahas G</span>
                    <span>Software Developer At Predictive Analytics</span>

                  </div>

                </div>

              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <div class="p-3 testimonials-margin">
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="ratings">

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>


              </div>

              <p>I had a great time doing this course and everyone involved in the LARA TECHNOLOGY has made it a great
                experience. I look forward to doing more courses with you guys in the future and have been
                recommending you to everyone I know. Thank you for all the assistance and feedback, it has been
                delightful and very gratifying.</p>
            </div>
          </div>

          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <div class="ratings">

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

              <p>I am immensely grateful for the support and assistance provided by Ramesh Sir and the entire team at
                Lara Technologies. Their guidance has been instrumental in my journey towards a career in IT.</p>
            </div>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <div class="ratings">

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

              <p>If anyone is looking for a better place to become an IT professional, then I suggested to Lara
                Technologies where you learn things slowly- slowly.Here clears all the point and start from the
                scratch.</p>
            </div>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <div class="ratings">

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

              <p>now I have enough confidence to face any interview as lara is a one stop solution for overall 360
                degree development of one And along with that daily logical coding classes as well as practice are
                going on The sessions.</p>
            </div>
          </div>

          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <div class="ratings">

                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

              </div>

              <p>Lara technologies is the good place to start your career as java full stack developer. I should thank
                Ramesh sir for giving good guidance and encouragement. I got job within 4 months</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div> -->

<div class="">
  <h3 class="text-center display-5 py-1" style="color: #004AAD; background-color: #ffffff !important; ">Companies where larites are working</h3>
<div id="carouselExampleIndicators" class="carousel slide bg-white" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
  </ol> -->
  <div class="carousel-inner" style="height: 100px !important; background-color: #ffffff;"> 
    <div class="carousel-item active">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/31.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/6.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/7.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/8.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/9.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/10.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/32.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/12.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/13.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/14.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/15.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/33.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/16.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/17.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/18.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/19.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/20.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/34.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/21.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/22.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/23.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/24.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/25.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/35.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/26.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/27.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/28.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/29.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/30.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-6 col-sm-4 col-md-2">
          <img src="/c2c/assets/images/Recruiters/36.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>





<div class="review-section"> 
  <div class="container review-container" style="background-color: #ffffff;">
    <h3 class="text-center display-5 py-1 review-title" style="color: #004AAD;">Student Reviews</h3>
    <div class="accordion d-flex justify-content-center align-items-center" id="accordionExample">
      <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center reviews-div">
          <div class="testimonials-margin px-1">
            <div *ngFor="let testimonial of testimonials" [ngClass]="{'collapse': selectedTestimonial !== testimonial, 'show': selectedTestimonial === testimonial}" class="card-body">
              <h5>{{ testimonial.name }}</h5>
              <h6>{{ testimonial.position }}</h6>
              <div class="ratings">
                <i *ngFor="let star of testimonial.stars" class="fa fa-star" [class.text-warning]="star <= testimonial.rating"></i>
              </div>
              <p>{{ testimonial.feedback }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <ul class="testimonial-list">
              <li *ngFor="let testimonial of visibleTestimonials">
                <div class="card p-3" (click)="selectTestimonial(testimonial)">
                  <div class="d-flex flex-row align-items-center">
                    <img [src]="testimonial.image" width="50" class="rounded-circle">
                    <div class="d-flex flex-column ml-2">
                      <span class="font-weight-normal">{{ testimonial.name }}</span>
                      <span>{{ testimonial.position }}</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="d-flex justify-content-between mt-3">
              <button (click)="prev()" class="btn-prev"><</button>
              <button (click)="next()" class="btn-next">></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

