<div class="row">
  <div class="col-sm-12">
    <div class="hoz-tab">
      <button id="defaultShow" class="tablinks active" (click)="openTab($event, 'tab-sec1')">All Learners</button>
      <button class="tablinks" (click)="openTab($event, 'tab-sec2')">Subscribed Learners</button>
      <button class="tablinks" (click)="openTab($event, 'tab-sec3')">Un Subscribed Learners</button>
    </div>
  </div>
</div>

<div class="row" style="margin-top:20px;">
  <div class="col-sm-12">
    <p>Search: <span style="color:red;" *ngIf="srchErrorFlg">{{srchErrFrmMsg}}</span></p>
    <form [formGroup]="learnerSearchForm" (ngSubmit)="searchLearnerData()">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="userId" placeholder="User Id" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="mobileNo" placeholder="Mobile" />
          </div>
        </div>
        <div class="col-sm-3">
          <input type="submit" class="btn btn-primary btn-block" value="Search">
        </div>
        <div class="col-sm-3">
            <button (click)="clearLearnerSearchForm()" class="btn btn-primary btn-block">Clear</button>
          </div>
      </div>
    </form>
  </div>
</div>


<div id="tab-sec1" class="row hoztabcnt" style="display: block;padding-top:20px;">
  <div class="col-sm-12">    
      <h4>All Learners List</h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="td-bg">
            <th class="">First Name</th>
            <th class="">Email</th>
            <th class="">Mobile Number</th>
            <th class="">Action</th>
          </tr>
        </thead>
      </table>
      <div class="tbl-sec" style="overflow-y:scroll;height:500px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="td-bg" [className]="i % 2==0 ? 'td-bg' : 'td-bg-none'"
            *ngFor="let learner of learnersList;let i=index;">
            <td style="padding:8px;color:#666666; border-left:1px solid #eee">{{learner.firstName}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{learner.email}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{learner.mobileNo}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">
              <a [routerLink]= "['/edit-subs', learner.email]">Manage</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="tab-sec2" class="row hoztabcnt" style="padding-top:20px;">
  <div class="col-sm-12">   
      <h4>Subscribed Learners List</h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="td-bg">
            <th class="">First Name</th>
            <th class="">Email</th>
            <th class="">Mobile Number</th>
            <th class="">Action</th>
          </tr>
        </thead>
      </table>
      <div class="tbl-sec" style="overflow-y:scroll;height:500px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="td-bg" [className]="i % 2==0 ? 'td-bg' : 'td-bg-none'"
            *ngFor="let slearner of subLearnersList;let i=index;">
            <td style="padding:8px;color:#666666; border-left:1px solid #eee">{{slearner.firstName}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{slearner.email}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{slearner.mobileNo}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee"><a [routerLink]= "['/edit-subs', slearner.email]">Manage</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="tab-sec3" class="row hoztabcnt" style="padding-top:20px;">
  <div class="col-sm-12">    
      <h4>Un Subscribed Learners List</h4>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="td-bg">
            <th class="">First Name</th>
            <th class="">Email</th>
            <th class="">Mobile Number</th>
            <th class="">Action</th>
          </tr>
        </thead>
      </table>
      <div class="tbl-sec" style="overflow-y:scroll;height:500px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
          <tr class="td-bg" [className]="i % 2==0 ? 'td-bg' : 'td-bg-none'"
            *ngFor="let unslearner of unSubLearnersList;let i=index;">
            <td style="padding:8px;color:#666666; border-left:1px solid #eee">{{unslearner.firstName}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{unslearner.email}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee">{{unslearner.mobileNo}}</td>
            <td style="padding:8px;color:#666666;border-left:1px solid #eee"><a [routerLink]= "['/edit-subs', unslearner.email]">Manage</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>